.blog-title {
  font-size: xx-large;
  text-decoration: underline;
  margin-top: 76px;
  margin-left: 150px;
  margin-bottom: 40px;
}

.blog-wrapper {
  width: 76.56%;
  height: 66.77%;
  margin-top: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-wrapper .date-box {
  color: white;
  height: 60px;
  width: 60px;
  background-color: #79addc;
  text-align: center;
  padding-top: 10px;
}
.blog-wrapper .blog-image {
  height: 259px;
  width: 900px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-text {
  margin-left: 230px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.blog-text p {
  color: #79addc;
  height: 64px;
  width: 380px;
}

.blog-text2 {
  margin-left: 230px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.blog-text2 p {
  color: #79addc;
  height: 64px;
  width: 380px;
}