.tours-hero {
  position: relative;
  top: 90px;
  height: 200px;
  width: 981px;
  background-image: url(../images/tours/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 0 auto;
}

.tours {
  min-height: 504px;
  min-width: 817px;
  text-align: center;
  font-size: xx-large;
  color: white;
  margin-top: 48px;
}
.tours .tours-promo-images {
  height: 304px;
  margin: 0 auto;
  width: 961px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tours .tours-promo-images .tours-promo-image1 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours .tours-promo-images .tours-promo-image1 .tours-text1 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours .tours-promo-images .tours-promo-image1 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours .tours-promo-images .tours-promo-image2 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours .tours-promo-images .tours-promo-image2 .tours-text2 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours .tours-promo-images .tours-promo-image2 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours .tours-promo-images .tours-promo-image3 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours .tours-promo-images .tours-promo-image3 .tours-text3 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours .tours-promo-images .tours-promo-image3 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}

.tours-row2 {
  min-height: 504px;
  min-width: 817px;
  text-align: center;
  font-size: xx-large;
  color: white;
}
.tours-row2 .row2images {
  height: 304px;
  width: 961px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -150px;
  margin-left: 194px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tours-row2 .row2images .tours-promo-image4 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row2 .row2images .tours-promo-image4 .tours-promo-text4 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row2 .row2images .tours-promo-image4 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours-row2 .row2images .tours-promo-image5 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row2 .row2images .tours-promo-image5 .tours-promo-text5 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row2 .row2images .tours-promo-image5 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours-row2 .row2images .promo-image5 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row2 .row2images .promo-image5 .promo-text5 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row2 .row2images .promo-image5 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours-row2 .row2images .tours-promo-image6 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row2 .row2images .tours-promo-image6 .tours-promo-text6 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row2 .row2images .tours-promo-image6 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}

.tours-row3 {
  min-height: 504px;
  min-width: 817px;
  text-align: center;
  font-size: xx-large;
  color: white;
}
.tours-row3 .row3images {
  height: 304px;
  width: 961px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -150px;
  margin-left: 194px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tours-row3 .row3images .tours-promo-image7 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row3 .row3images .tours-promo-image7 .tours-promo-text7 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row3 .row3images .tours-promo-image7 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours-row3 .row3images .tours-promo-image8 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row3 .row3images .tours-promo-image8 .tours-promo-text8 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row3 .row3images .tours-promo-image8 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}
.tours-row3 .row3images .tours-promo-image9 {
  height: 304px;
  width: 236px;
  background-image: url(../images/tours/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tours-row3 .row3images .tours-promo-image9 .tours-promo-text9 {
  color: white;
  margin-top: 37px;
  font-size: 40px;
}
.tours-row3 .row3images .tours-promo-image9 .tours-learn-more {
  height: 40px;
  width: 133px;
  background-color: #79addc;
  font-size: medium;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 52px;
  border-radius: 100px;
}