.about-home .about {
  color: black;
  margin-left: 205px;
  margin-right: 160px;
  padding-top: 100px;

  .about-title {
    font-size: 50px;
  }

  .not-underlined {
    text-decoration: none;
  }
}

.client-quotes {
  padding-top: 95px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 100px;

  .quotes-title {
    margin-left: 205px;
    font-size: xx-large;
  }

  .client1 {
    display: flex;
    height: 150px;
    width: 100%;
    margin-left: 205px;

    .client-image1 {
      height: 148px;
      width: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(/images/about-client-01.jpg);
    }

    .client-text {
      padding-left: 21px;
      // font-size: 20px;
      // margin-right: 300px;
      height: 102px;
      width: 385px;
    }

    .client-name {
      padding-top: 20px;
      text-align: right;
      color: #79addc;
    }
  }
}

.client2 {
  display: flex;
  height: 150px;
  width: 100%;
  margin-left: 205px;
  padding-top: 37px;
  padding-bottom: 100px;

  .client-image2 {
    height: 150px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/about-client-02.jpg);
  }

  .client-text2 {
    padding-left: 21px;
    // font-size: 20px;
    // margin-right: 300px;
    height: 102px;
    width: 385px;
  }

  .client-name2 {
    padding-top: 20px;
    text-align: right;
    color: #79addc;
  }
}
